.row {
    padding-bottom: 20px;
}

.order-card {
    height: 100%;
}

.cardcontent {
    display: inline-flex;
}

.cardtext {
    width: 75%;
}

.cardtitle {
    font-size: 28px;
}

.carddesc {
    font-size: 18px;
}

.cardicon {
    padding: 10px 0 10px 10px;
    width: 25%;
    right: 25px;
    position: absolute;
}

.cardicon > i {
    font-size: 48px !important;
}