{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/index.css"> {% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <!-- <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Dashboard Analytics</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-md-12 col-xl-9">

                <div class="row">
                    <div class="col-md-6 col-xl-4 mb-3">
                        <a href="inventory.html">
                            <div class="card bg-c-red order-card">
                                <div class="card-body cardcontent">
                                    <div class="cardtext">
                                        <p class="text-white cardtitle">Inventory</p>
                                        <p class="m-b-0 carddesc">Take a look at what you have in stock here!</p>
                                    </div>
                                    <h2 class="text-right text-white float-right cardicon">
                                        <i class="bi-boxes"></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-3">
                        <a href="recipes.html">
                            <div class="card bg-primary order-card">
                                <div class="card-body cardcontent">
                                    <div class="cardtext">
                                        <p class="text-white cardtitle">Recipes</p>
                                        <p class="m-b-0 carddesc">Looking to cook a meal? Check out our recipes!</p>
                                    </div>
                                    <h2 class="text-right text-white float-right cardicon">
                                        <i class="bi-book"></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-3">
                        <a href="meal_history.html">
                            <div class="card bg-warning order-card">
                                <div class="card-body cardcontent">
                                    <div class="cardtext">
                                        <p class="text-white cardtitle">Meal History</p>
                                        <p class="m-b-0 carddesc">Take a look at what you've eaten previously!</p>
                                    </div>
                                    <h2 class="text-right text-white float-right cardicon">
                                        <i class="bi-card-checklist"></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-3">
                        <a href="pricechecker.html">
                            <div class="card bg-c-purple order-card">
                                <div class="card-body cardcontent">
                                    <div class="cardtext">
                                        <p class="text-white cardtitle">Price Checker</p>
                                        <p class="m-b-0 carddesc">Check the prices of your favourite ingredients and food items!</p>
                                    </div>
                                    <h2 class="text-right text-white float-right cardicon">
                                        <i class="bi-cart-check"></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-3">
                        <a href="budgeting.html">
                            <div class="card bg-c-green order-card">
                                <div class="card-body cardcontent">
                                    <div class="cardtext">
                                        <p class="text-white cardtitle">Budgeting</p>
                                        <p class="m-b-0 carddesc">Need a hand for money matters? Let us help you with that!</p>
                                    </div>
                                    <h2 class="text-right text-white float-right cardicon">
                                        <i class="bi-currency-dollar"></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-3">
                        <a href="grocery_history">
                            <div class="card bg-info order-card">
                                <div class="card-body cardcontent">
                                    <div class="cardtext">
                                        <p class="text-white cardtitle">History</p>
                                        <p class="m-b-0 carddesc">Take a look at what you've ordered previously!</p>
                                    </div>
                                    <h2 class="text-right text-white float-right cardicon">
                                        <i class="bi-clock-history"></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-4 mb-3">
                        <a href="profile.html">
                            <div class="card bg-warning order-card">
                                <div class="card-body cardcontent">
                                    <div class="cardtext">
                                        <p class="text-white cardtitle">Profile</p>
                                        <p class="m-b-0 carddesc">Change your profile settings here</p>
                                    </div>
                                    <h2 class="text-right text-white float-right cardicon">
                                        <i class="feather icon-user"></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-xl-3">
                <div class="card">


                    <div class="card-header">
                        <h5>{{ data[0] }}</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ data[1] }}
                        </p>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <div class="row">
            <!-- order-card start -->

        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- custom-chart js -->
<script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}