<!-- Shows purchase details -->
{% if type == "mysql" %} {% for purchase in purchases %}
<div class="table-responsive">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td><strong>Receipt ID</strong></td>
                <td> </td>
                <td>#{{ purchase[3] }}</td>
            </tr>
            <tr>
                <td><strong>Food Items</strong></td>
                <td> </td>
                <td>{% for i in range(details["food_items"] | length) %} x {{ details["food_quantity"][i] }} {{ details["food_items"][i] }} ({{ details["original_weight"][i] }}g)<br> {% endfor %}</td>
            </tr>
            <tr>
                <td><strong>Total Amount</strong></td>
                <td> </td>
                <td>${{ purchase[7] }}</td>
            </tr>
            <tr>
                <td><strong>Purchase Date</strong></td>
                <td> </td>
                <td>{{ purchase[5].strftime('%d %b %Y') }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %} {% endif %} {% if type == "nosql" %}
<div class="table-responsive">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td><strong>Receipt ID</strong></td>
                <td> </td>
                <td>#{{ purchase[index]["receipt_id"] }}</td>
            </tr>
            <tr>
                <td><strong>Food Items</strong></td>
                <td> </td>
                <td>{% for i in range(purchase[index]["food_items"] | length) %} {{ purchase[index]["food_items"][i] }} ({{ purchase[index]["initial_weight"][i] }}g)<br>{% endfor %}</td>
            </tr>
            <tr>
                <td><strong>Total Amount</strong></td>
                <td> </td>
                <td>${{ purchase[index]["total_amount"] }}</td>
            </tr>
            <tr>
                <td><strong>Purchase Date</strong></td>
                <td> </td>
                <td>{{ purchase[index]["date"].strftime('%d %b %Y') }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}