<!-- Shows purchase details -->
<div class="modal-header">
    <h5 class="modal-title">{{ recipes["recipe_name"] }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td><strong>Cuisine</strong></td>
                    <td> </td>
                    <td>{{ recipes["dietary_type"] }}</td>
                </tr>
                <tr>
                    <td><strong>Calories</strong></td>
                    <td> </td>
                    <td>{{ recipes["calories"] }}</td>
                </tr>
                <tr>
                    <td><strong>Ingredients</strong></td>
                    <td> </td>
                    {% if type == "mysql" %}
                    <td>{{ recipes["main_ingredients"] }}g</td>
                    {% endif %} {% if type == "nosql" %}
                    <td>{{ recipes["main_ingredients"].food_name }} ({{ recipes["main_ingredients"].measurement }}g)</td>
                    {% endif %}
                </tr>

                <tr>
                    <td><strong>Marinate & Side Ingredients</strong></td>
                    <td> </td>
                    <td>{% for item in marinates_list %} {{ item }} <br>{% endfor %}</td>
                </tr>
                <tr>
                    <td><strong>Steps</strong></td>
                    <td> </td>
                    <td>
                        <a href='{{ recipes["steps"] }}'>{{ recipes["steps"] }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>